#index{
	// General styles
	h1,h2,h3,h4,h5,h6{
		margin:0;
	}
	
	//Custom styles
	#upcoming{
		.col-md-10{
			.row{
				padding:15px 0;
				/*.col-md-4{
					.smallItem{
						&:first-child{
							padding-bottom:20px;
						}
						&:last-child{
							padding-top:20px;
						}
					}
				}
				&:nth-child(2){
					.col-md-4{
						.smallItem{
							padding-bottom: 0;
							padding-top: 30px;
						}
					}
				}*/
				.item{
					position:relative;
					.itemImg{
						width: 100%;
						height: 100%;
						overflow: hidden;
						img{
							width:100%;
						}
					}
					.gradient{
						position: absolute;
						top:0; left:0;
						width:100%;
						height: 100%;
						
						/*background: -moz-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 9%, rgba(0,0,0,0) 58%, rgba(0,0,0,0) 100%);
						background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 9%,rgba(0,0,0,0) 58%,rgba(0,0,0,0) 100%);
						background: linear-gradient(to top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 9%,rgba(0,0,0,0) 58%,rgba(0,0,0,0) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );*/
						background: -moz-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 26%, rgba(0,0,0,0) 58%, rgba(0,0,0,0) 100%);
						background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 26%,rgba(0,0,0,0) 58%,rgba(0,0,0,0) 100%);
						background: linear-gradient(to top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 26%,rgba(0,0,0,0) 58%,rgba(0,0,0,0) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );

					}
					.itemContent{
						.glyphicon-time{
							background-color:#F44336;
							border-radius:100%;
							color:#fff;
							font-size:13px;
							padding:7px;
						}
						h1{
							font-weight: bold;
						}
					}
					.innerItemContent{
						padding:15px;
						position: absolute;
						bottom:0; left:0;
						h1{
							font-size:17px;
							color:#fff;
						}
						p{
							color:#fff;
						}
						.deadline{
							color:#fff;
						}
					}
					.outerItemContent{
						.deadline{
							color:#000;
						}
						h1{
							font-size:23px;
						}
					}
				}
				.bigItem{
					height:400px;
					.itemContent{
						padding:25px;
						h1{
							font-size:30px;
						}
					}
				}
				.smallItem{
					height: 180px;
				}
			}
		}
	}
}